extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content 
    main
        if prods.length > 0 
            .grid 
            each products in prods
                article.grid.product-item 
                    header.card__header
                        h1.product__title #{products.title}
                    div.card__image 
                        img(src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.britannica.com%2F83%2F78183-004-345353F4%2FStack-books.jpg&tbnid=H4aAlKq_6tHefM&vet=12ahUKEwi30fL8usaDAxWFnCcCHftVDRkQMygBegQIARB1..i&imgrefurl=https%3A%2F%2Fwww.britannica.com%2Ftopic%2Fbook-publication&docid=oKD0pBuBArhMPM&w=550&h=408&q=book&ved=2ahUKEwi30fL8usaDAxWFnCcCHftVDRkQMygBegQIARB1" alt="ceci est une image")
                    div.card__content 
                        h2.product__price $29.99
                        p.product__description a very intersting book about so many even more

                    div.card__actions 
                        button.btn Add to Cart
        else 
            h1 No content
